#uva-makers-logo {
  height:75px;
}

@media (min-width: 768px)
.navbar-default .nav > li>a, .navbar-default .nav>li {
  color: #222;
}
.project-link { 
  font-size: .8em; 
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}
@keyframes button {
  from {
    fill: rgba(255, 255, 255, 0);
  }
  to {
    fill: rgba(255, 255, 255, 0.5);
  }
}
.map-button:hover circle,
.map-button:hover path {
  fill: rgba(255, 255, 255, 0.5);
  animation-name: button;
  animation-duration: .2s;
}
.map-button circle,
.map-button path {
  fill: rgba(255, 255, 255, 0);
}
