
.filter_container {
    padding-top: 8px;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
}

.filter_container ul{
    margin: 10px 10px 10px 10px;
}

.filter_container li{
    display: inline;
}

.filter_container li img {
    width: 42px;
    height: 42px;
    cursor: pointer;
    margin-bottom: 20px;
}

ul.img-list {
    list-style-type: none;
    margin: 0;
    padding-top: 8px;
    padding-bottom: 40px;
    text-align: center;
}

ul.img-list li {
    display: inline;
    height: 42px;
    margin: 5px 40px 5px 25px;;
    position: relative;
    width: 42px;
}

span.text-content {
    text-align: center;
    background: rgba(201, 201, 201, 0);
    color: #858585;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    left: -23px;
    position: absolute;
    top: 25px;
    width: 90px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.map {
    width: 100%;
    height: 600px;
    position: relative;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.location-popups {
  word-break: break-all;
}
