---
---

/* Arts & Sciences */
.arts-sciences, .scholars-lab-makerspace, .robertson-media-center {

	background-color: orange;
}

/* Engineering */
.engineering, .rice-120, .bme-fabrication-space {
	background-color: blue;
}

.architecture {
	background-color: green;
}

.darden {
	background-color: red;
}

/* Health System */
.health-sciences {
	background-color: purple;
}

/* EHS */
.ehs, .environmental-health-safety {
	background-color: pink;
}

.people-key {
	width:200px;
	height:350px;
	margin:5px;
	display:block;
	float:left;
}

.keybox {
	font-family:'Open Sans','Helvetica Neue',Arial,sans-serif;
	display:block;
	float:left;
	width:150px;
	height:40px;
	text-align: center;
	color:#fff;
	padding-top:10px;
	margin:5px;
	float:left;
	margin-left:0px;
	background-color: #585858;
}

.keybox-left {
	display:block;
	width:20px;
	height:40px;
	float:left;
	margin:5px;
	margin-right:0px;
}

.person-box {

	font-family:'Open Sans','Helvetica Neue',Arial,sans-serif;
	color:white;
	text-align:center;
	display: block;
	float:left;
	width:200px;
	height:350px;
	padding:10px;
	background-color: #585858;
	padding-left:25px;
	padding-right:25px;
	margin:5px;
	transition: all .35s;

	&:hover {
		background-color: rgba(240,95,64,.9);
		color:#fff;
	}

	.person-location-color-block {
		
		display:block;
		width:20%;
		height:43px;
		float:left;
		margin-right:5%;
		
	}

	.person-location-name {
		display:block;
		float:left;
		width:75%;
		text-align: left;
	}
	.img-box {

		width:150px;
		height:200px;
		overflow: hidden;
		display:table-cell;
		margin-bottom:10px;
		vertical-align: bottom;
		background-color: transparent;

		img {
			width:150px;
			vertical-align: bottom;
		}
	
	}

	

}

