@keyframes button {
	from {fill:rgba(255,255,255,0);}
	to {fill:rgba(255,255,255,.5);}
}

.map-button circle {fill:rgba(255,255,255,0);}
.map-button:hover circle
{
	fill:rgba(255,255,255,.5);
	animation-name:button;
	animation-duration:5s;
}