---
layout: default
title: Makers @ UVA
---


<div class="row">
  <div class="col s12">
    <div class="card orange darken-4">
      <div class="card-content center white-text">
        <h1 id="home-title">Maker Grounds @ UVA</h1>
        <p>A site for finding resources and learning about Makerspaces, Shops, Labs, and other spaces for making at the University of Virginia.</p>
      </div>
    </div>
  </div>
</div>

{% include listserve.html %}

<a name="map"></a>
<div class="row">
  <div class="col s12">
    {% include map.html %}
  </div>
</div>

<a name="locations"></a>
<div class="row">
  <div class="col s12">
    {% include locations.html %}
  </div>
</div>

<a name="people"></a>
<div class="row">
  <div class="col s12">
    {% include people.html %}
  </div>
</div>

<a name="calendar"></a>
<div class="row justify-content-center">
  <div class="col-xs-12">
    {% include calendar.html %}
  </div>
</div>


