---
layout: default
title: Makers @ UVA
---
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Maker Grounds @ UVA</h1>
                <hr>
                <p>A site for finding resources and learning about Makerspaces, Shops, Labs, and other spaces for making at the University of Virginia.</p>
            </div>
        </div>
    </header>

    {% include map.html %}
    {% include people.html %}
    {% include locations.html %}
    {% include toolbar.html %}
