---
layout: default
title: Home
---


<div class="row">
  <div class="col s12 orange darken-4">
    <div class="center-align grey-text text-lighten-4">
      <h1 id="home-title">Maker Grounds @ UVA</h1>
      <p>A site for finding resources and learning about Makerspaces, Shops, Labs, and other spaces for making at the University of Virginia.</p>
    </div>
  </div>
</div>

{% include fall2020.html %}

{% include listserve.html %}

<a name="map"></a>
<div class="row">
  <div class="col s12">
    {% include map.html %}
  </div>
</div>

<a name="locations"></a>
<div class="row">
  <div class="col s12">
    {% include locations.html %}
  </div>
</div>

<a name="people"></a>
<div class="row">
  <div class="col s12">
    {% include people.html %}
  </div>
</div>

<!-- <a name="calendar"></a> -->
<!-- <div class="row"> -->
<!--   <div class="col s12"> -->
<!--     {% include calendar.html %} -->
<!--   </div> -->
<!-- </div> -->


