<section id="calendar-section">
  <h2 class="white-text center-align">Calendar</h2>

  <div class="row">
    <div class="col s12 center-align">
      <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23c0c0c0&amp;src=makergrounds%40gmail.com&amp;color=%231B887A&amp;src=pscjmerihlu3hv76otlct54ql0%40group.calendar.google.com&amp;color=%23691426&amp;ctz=America%2FNew_York" style="border:solid 20px #c0c0c0" width="800" height="600" frameborder="0" scrolling="no"></iframe>	
    </div>
  </div>
</section>
