
<footer class="page-footer grey darken-3">
  <div class="container">
    <div class="row" id="footer">
      <div class="col l6 s12">
        <p>Send questions and corrections to <a href="mailto:makergroundwebsite@virginia.edu">makergroundwebsite@virginia.edu</a></p>
      </div>
      <div class="col l4 s12">
        <a class="login waves-effect waves-light btn blue-grey right" href="http://sfm.lib.virginia.edu/">Staff Login</a></p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <p>&copy; {{ site.time | date: "%Y" }} by the Rector and Visitors of the University of Virginia<br>
      <a class="right" href="http://www.virginia.edu/copyright.html">Copyright &amp; Privacy</a></p>
    </div>
  </div>
</footer>

