
<footer class="page-footer grey darken-3">
  <div class="container">
    <div class="row" id="footer">
      <div class="col s12">
        <p>Send questions, corrections and comments about the website to <a class="waves-effect waves-light btn indigo darken-2" href="mailto:makergroundwebsite@virginia.edu">makergroundwebsite@virginia.edu <i class="material-icons left">mail</i></a></p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <p>&copy; {{ site.time | date: "%Y" }} by the Rector and Visitors of the University of Virginia<br>
      <a href="http://www.virginia.edu/copyright.html">Copyright &amp; Privacy</a></p>
    </div>
  </div>
</footer>

