<section id="listserve" class="listserve text-center jumbotron">
  <a class="btn btn-lg btn-info" href="mailto:sympa@virginia.edu?Subject=subscribe makergrounds FirstName Name">SIGN UP</a>
  <p> for the Makergrounds email list serve!</p>
  <p>Send an email to <a href="mailto:sympa@virginia.edu?Subject=subscribe makergrounds FirstName Name">sympa@virginia.edu</a> with the subject line:
  <br><code>"subscribe makergrounds Firstname Name"</code></p>

  <p><a class="small" href="https://lists.virginia.edu/sympa/help/user#subscribe">UVA email list Help</a></p>
</section>

