<div class="row">
  <div class="col s12 m8 offset-m2">
    <div class="card horizontal yellow lighten-2">
      <div class="card-stacked">
        <div class="card-content center">
            <p> <a class="waves-effect waves-light btn indigo darken-4" href="mailto:sympa@virginia.edu?Subject=subscribe makergrounds [Your Name Here]">
              <i class="material-icons left">mail</i>SIGN UP</a> for the Makergrounds email list serve!</p><br>
            <p>The subject line should look like: <code>subscribe makergrounds Your Name</code></p>
            <h6><a href="https://lists.virginia.edu/sympa/help/user#subscribe">More info about UVA email listserves</a></h6>
        </div>
      </div>
    </div>

  </div>
</div>

