<section class="bg-dark">
  <div class="text-center">
    <h2>Makers Map</h2>
  </div>
</section>

<section class="no-padding mx-auto" id="portfolio">
  <section style="position: relative;overflow: hidden;">

    <div id="map" class="map"></div>

    <!-- creates overlay of locations on right -->
    <ul class="map-locations-list">
      {% for place in site.data.makergrounds %}
        <li style="cursor: pointer;" map-locations-list-slug={{place.slug}} onClick="openPopup(this)">{{ place.title }}</li>
      {% endfor %}
    </ul>

    <!-- creates blue line that separates the map from the map-filter-container -->
    <div style="height: 4px; width: 100%; background-color: #03a9f4; overflow: hidden"></div>

    <!-- creates icons and labels for filtering -->
    <div class="map-filter-container">
      <div style="font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif; font-size: 20px; color:#989898;">Filter:</div>
      <ul class="map-filter-list">
        <li class="active" data-filter="all">
          <img src="img/icons/show-all.svg">
          <span class="text-content">Show All</span>
        </li>

        {% for toolCategory in site.data.tool-categories %}
        <li data-filter={{toolCategory.slug}}>
          <img src="img/icons/{{toolCategory.icon}}">
          <span class="text-content">{{toolCategory.name}}</span>
        </li>
        {% endfor %}

      </ul>
    </div>

    </div>

  </section>

  <script>
    // sorts list of locations created above
    var items = $('.map-locations-list li').get();
    items.sort(function(a, b) {
      var keyA = $(a).text().toLowerCase();
      var keyB = $(b).text().toLowerCase();

      if (keyA < keyB) return -1;
      if (keyA > keyB) return 1;
      return 0;
    });
    var ul = $('.map-locations-list');
    $.each(items, function(i, li) {
      ul.append(li);
    });

    var makergroundsJSON = {{site.data.makergrounds | jsonify}};

    var toolCategories = {{site.data.tool-categories | jsonify}};
    //makergroundsData is used to access location data from the csv.
    var makergroundsData = {};

    //maps slug to location info (from the csv)
    makergroundsJSON.forEach(function(location) {
      makergroundsData[location.slug] = location;
    });

    //opens marker popup when a location is selected
    function openPopup(self) {
      makergroundsData[self.getAttribute("map-locations-list-slug")].marker.openPopup();
    }
  </script>

  <script>
    //this token is generated a mapbox.com account. Any token works.
    //the token should really be placed in a config file.
    L.mapbox.accessToken = 'pk.eyJ1IjoiamVubnl4aW5nMjciLCJhIjoiY2l2MDJjcHcwMDAwMTJvcmZvamExYnVhZyJ9.RrhpauICk05n9OQh2eha2g';

    var map = L.mapbox.map('map', 'mapbox.streets')
      .setView([38.035544, -78.505186], 15.55)

    if (map.scrollWheelZoom) {
      map.scrollWheelZoom.disable();
    }

    //creates markers using "features" in the geojson
    var markers = L.mapbox.featureLayer()
      .loadURL('map-geojson/makergrounds-map-data.geojson')
      .addTo(map);

    markers.on('layeradd', function(e) {
      var marker = e.layer,
        feature = marker.feature;

      var locationData = makergroundsData[feature.properties["location-slug"]];
      //add marker object to data so the marker can be accessed later
      locationData.marker = marker;

      var locationTitle = '<h2><b><a class="marker-popup-title" href="/locations/' + locationData.slug + '.html">' + locationData.title + '</a></b></h2>';
      var websiteName = locationData.website ? '<p><a href="' + locationData.website + '">' + locationData.website + '</a><p>' : ""

      //adds icons to popup
      var iconsList = '<div class="marker-popup-icons-container"><ul class="marker-popup-icons-list">';
      toolCategories.forEach(function(t) {
        if (t.locations.includes(locationData.slug)) {
          iconsList += '<li>' +
            '<img src="img/icons/' + t.icon + '">' +
            '</li>'
        }
      })
      iconsList += "</ul></div>";

      //bind popup to marker
      var popup = L.popup({
          closeButton: false,
          className: "marker-popup"
        })
        .setContent(locationTitle + websiteName + iconsList)
      marker.bindPopup(popup);
    });

    //when a filter is clicked
    $('.map-filter-list li').click(function(e) {
      e.preventDefault()
      //all other filers become inactive
      $(this).parent().find('li').removeClass('active');
      //all locations in the locations list become inactive
      $('.map-locations-list').find('li').removeClass('active');
      //the filter that is clicked is active
      $(this).addClass('active');

      var filter = $(this).data('filter');

      var filtered_locations = [];
      // only make locations active if a filter is applied
      if (filter != 'all') {
        //find locations that has tools of that category
        filtered_locations = toolCategories.filter(function(toolCategory) {
          return toolCategory.slug == filter;
        })[0].locations;
        //highlight locations on the locations list (made active)
        filtered_locations.forEach(function(l) {
          $('.map-locations-list').find('[map-locations-list-slug=' + l + "]").addClass('active');
        })
      }

      //mapbox: show/hide location markers that are filtered
      markers.setFilter(function(f) {
        // If the data-filter attribute is set to "all", return
        // all (true). Otherwise, filter on the locations that are in the toolcategory.
        return (filter === 'all') ? true : filtered_locations.includes(f.properties["location-slug"]);
      });

      return false;
    });
  </script>

</section>
