<section class="bg-dark">
  <div class="text-center">
    <h2>People Network</h2>
  </div>
</section>

<section class="no-padding mx-auto" id="portfolio">
  <div class="keybox arts-sciences
  ">
  	Arts & Sciences
  </div>
  <div class="keybox engineering
  ">
  	Engineering
  </div>
  
  <div style="clear:both; height:40px;"></div>

  {% for person in site.data.people %}
  	<div class="person-box 

  	{% case person.location_id %}
  		{% when 8 or 2 %}
  			arts-sciences
  		{% when 3 or 14 %}
  			engineering
  		{% else %}
  			no-color
  	{% endcase %}

  	">
  		<div class="img-box"><img src="http://sfm.lib.virginia.edu/uploads/{{ person.picture }}" /></div>
  		<p>{{ person.name }}</p>
  		<p>{{ person.location.name }}

  	</div>

  {% endfor %}

</section>

