<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    Makers @ UVA - 
    {% if page.title %}
      {{ page.title | upcase }}
    {% endif %}
  </title>

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>


  <!-- Custom Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" type="text/css">

  <!-- Plugin CSS -->
  <link rel="stylesheet" href="/css/animate.min.css" type="text/css">

  <!-- Mapbox -->
  <script src='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.css' rel='stylesheet' />
  <!-- this version required for map pins -->
  <script src='/js/jquery-1.12.4.min.js'></script>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Mapbox stuff -->
  <script src='https://api.mapbox.com/mapbox-gl-js/v0.35.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v0.35.1/mapbox-gl.css' rel='stylesheet' />

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/creative.css" type="text/css">
  <link rel="stylesheet" href="/css/makergrounds.css" type="text/css">
  <link rel="stylesheet" href="/css/map.css" type="text/css" >
  <link rel="stylesheet" href="/css/people.css" type="text/css" >
</head>

<body id="page-top" class="grey darken-4">

  {% include nav.html %}

<div class="">

  {{content}}

  <div class="row" id="footer">
    <div class="col s12">
      <section class="footer">
        <div class="text-center">
          <p>&copy; {{ site.time | date: "%Y" }} by the Rector and Visitors of the University of Virginia<br>
          <a href="http://www.virginia.edu/copyright.html">Copyright &amp; Privacy</a></p>
        </div>
        <div class="text-center">
          <p>Send questions and corrections to <a href="mailto:makergroundwebsite@virginia.edu">makergroundwebsite@virginia.edu</a></p>
        </div>
        <div class="center">
          <a class="login waves-effect waves-light btn" href="http://sfm.lib.virginia.edu/">Staff Login</a></p>
        </div>
      </section>
    </div> <!-- foot col-xs-12 -->
  </div> <!-- foot row -->
</div> <!-- container -->

<div id="scripts">
  <!--Import jQuery before materialize.js-->
  <script src="/js/jquery-3.2.1.min.js"></script>
  <script src="/js/materialize.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/js/jquery.easing.min.js"></script>
  <script src="/js/jquery.fittext.js"></script>
  <script src="/js/wow.min.js"></script>

  <!-- Custom Theme JavaScript -->
  <script src="/js/creative.js"></script>

  <!-- Google Analytics -->
  <script>
  /*
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-84185110-1', 'auto');
    ga('send', 'pageview');
  */
  </script>
</div>
</body>

</html>
