---
layout: page
---

<h1 class="white-text center-align">{{ page.name }}</h1>

<section id="locations" class="white">
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-image">
          {% if page.picture != '' %}
            <img id="location-pic" class="responsive-img" src="../images/{{ page.picture }}" />
          {% else %}
            <img id="location-pic" class="responsive-img" src="../imgs/no-location.png" />
          {% endif %}
        </div>
        <div class="card-content">
          <div class='text-justify'>
            {{ page.description }} 
          </div>
        </div>
        <div class="card-action">
          <p><a href="{{ page.website }}">{{ page.website }}</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <table class="responsive-table striped">
        <tbody>
          <tr>
            <td><h4>Location:</h4></td>
            <td><p class="location-info">{{ page.address }}</p></td>
          </tr>
          <tr>
            <td><h4>Access:</h4></td>
            <td><p class="location-info">{{ page.access }}</p></td>
          </tr>
          <tr>
            <td><h4>Hours:</h4></td>
            <td><p class="location-info">{{ page.hours }}</p></td>
          </tr>
          <tr>
            <td><h4>Contact:</h4></td>
            <td>
              <p class="location-info">{{ page.contact }}</p>
              <p class="location-info"><a class="mailto" href="mailto:{{ page.email }}">{{ page.email }}</a></p>
              <p class="location-info">{{ page.phone }}</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  {% if page.tools.size > 0 %}
  <div class="row">
    <div class="col s12">
      <h1>Tools</h1>
      <div class="row">
      {% assign tools = page.tools %}
      {% for tool in tools %}
        <div class="col s12 m4 l3">
          <div class="card tool-card">
            <div class="card-image">
              <img class='responsive-img tool-image' src="../images/{{ tool.picture }}" />
            </div>
            <div class="card-title">
              {{ tool.name }}
            </div>
            <div class="card-content">
              <ul>
                <li class='list-group-item'>Make: {{ tool.make }}</li>
                <li class='list-group-item'>Model: {{ tool.model }}</li>
              </ul>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}


  {% if page.people.size > 0 %}
  <div class="row">
    <div class="col s12">
      <div class="row">
        <h1>People</h1>
        {% assign people = page.people %}
        {% for person in people %}
          <div class="col s12 m4 l3">
            <div class="card people-card">
              <div class="card-image">
                <img class='responsive-img person-image' src="../images/{{ person.picture }}" />
              </div>
              <div class="card-title">
                {{ person.name }}
              </div>
              <div class="card-content">
                <span class="grey-text">Title:</span> {{ person.moniker }}
                {% if person.department != empty %}
                  <span class="grey-text">Department:</span> {{ person.department }}
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
</section>

